Source: v4l2loopback
Section: unknown
Priority: extra
Maintainer: vasaka <vasaka@gmaial.com>
Build-Depends: debhelper (>= 7), bzip2
Standards-Version: 3.8.0
Homepage: <insert the upstream URL, if relevant>

Package: v4l2loopback-source
Architecture: all
Depends: module-assistant, debhelper (>= 7), make, bzip2
Description: source for the v4l2loopback driver.
 This package provides the source code for the v4l2loopback kernel modules.
 The v4l2loopback package is also required in order to make use of these
 modules. Kernel source or headers are required to compile these modules.

 this is v4l2 loopback device which output is it's own input.
 it is useful for feeding different v4l2 applications with video from
 non v4l2 sources, for example one can feed Skype with video enhanced by
 gstreamer effects; or use input device which does not have v4l2 compliant
 driver; or to share one v4l device with many programs, as many drovers
 are block device, when opened. 
