Source: v4l2loopback
Section: unknown
Priority: extra
Maintainer: vasaka <vasaka@sewersmobile2.nature>
Build-Depends: debhelper (>= 7), bzip2
Standards-Version: 3.8.0
Homepage: <insert the upstream URL, if relevant>

Package: v4l2loopback-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description> <insert long description, indented with spaces>

Package: v4l2loopback-source
Architecture: all
Depends: module-assistant, debhelper (>= 7), make, bzip2
Description: source for the v4l2loopback driver.
 This package provides the source code for the v4l2loopback kernel modules.
 The v4l2loopback package is also required in order to make use of these
 modules. Kernel source or headers are required to compile these modules.
