Source: v4l2loopback
Section: graphics
Priority: optional
Maintainer: Vasily Levin <vasaka@gmail.com>
Dm-Upload-Allowed: yes
Build-Depends: cdbs, debhelper (>= 7), bzip2, dpatch
Standards-Version: 3.8.0.1
Homepage: http://code.google.com/p/v4l2loopback/

Package: v4l2loopback-source
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, debhelper, module-assistant, bzip2
Description: v4l2loopback modules for Linux
 v4l2loopback is a video4linux2 driver providing video pipes.  With this driver you
 can use the output of a user program as input to another program which can only
 communicate with a video4linux or video4linux2 device. Unlike vloopback driver
 this module does not take videodata from standart input and acts as v4l2 output
 device instead, if you need to feed it from standart input - you need a helper
 program.
